# vscode
.vscode/

# Azurite
azurite/__blobstorage__
azurite/__queuestorage__
azurite/__azurite_db_*.json

# Cosmos DB
cosmosdb/data

# Azure Functions
functions/local.settings.json

# Bicep Parameter Files
resources/*.parameters.bicepparam

# Python Virtual Environment
venv/
